* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  box-sizing: border-box;

  &:focus,
  &:hover {
    outline: none;
  }
}

body {
  background-color: $color-light-grey;

  button {
    transition: all $trans;
    cursor: pointer;
  }
}
